<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--ignore local nuget settings -->
    <clear/>
    <add key="AutodeskArtifactory" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/autodesk-3p-nuget/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TeamOpusOne" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/team-opusone-nuget"/>
  </packageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>