<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphQLClient.ConfigurationStg" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GraphQLClient.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GraphQLClient.ConfigurationStg>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="CallbackURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientID_PKCE" serializeAs="String">
                <value />
            </setting>
            <setting name="CallbackURL_PKCE" serializeAs="String">
                <value />
            </setting>
        </GraphQLClient.ConfigurationStg>
        <GraphQLClient.Configuration>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="CallbackURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientID_PKCE" serializeAs="String">
                <value />
            </setting>
            <setting name="CallbackURL_PKCE" serializeAs="String">
                <value />
            </setting>
        </GraphQLClient.Configuration>
    </userSettings>
</configuration>